// global styles
@import '../../../App.scss';

.introductionContainer {
    text-shadow: $globalTextShadow;
    background-color: rgba(0, 0, 0, 0.6);
}

.introductionText {
    font-weight: normal;
    text-align: center;
    white-space: pre-line;
    color: $globalFontColor;
}