// global styles
@import '../../../App.scss';

.introductionContainer {
    text-shadow: $globalTextShadow;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px;
}

.introductionText {
    padding-right: 12px;
    font-weight: normal;
    text-align: center;
    white-space: pre-line;
    color: $globalFontColor;
}

// Media queries

// 4k+
@media (min-width: 2560px) {
    .introductionText {
        font-size: 36px;
    }
}

// Laptop L
@media (min-width: 1440px) and (max-width: 2559px) {
    .introductionText {
        font-size: 24px;
    }
}