@import '../../../App.scss';

.aboutUsContainer {
    color: $globalFontColor;
    text-shadow: $globalTextShadow;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.6);
}

.peopleHeader {
    text-align: center;
    padding-bottom: 16px;
}

.peopleContainer {
    display: flex;
}

.officersContainer, .committeesContainer {
    display: flex;
    flex-flow: column;
    width: 50vw;
    padding-left: 12.5vw;
}

.officersInnerContainer, .commiteesInnerContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.officersHeader, .committeesHeader, .peopleHeader {
    text-align: center;
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: xx-large;
}

.officer, .committee {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-weight: normal;
    white-space: pre-line;
    padding: 8px;
    width: 50%;
}

.peopleImage {
    height: 100px;
    width: 100px;
}

// Media queries

// Mobile L
@media (min-width: 375px) and (max-width: 425px) {
    .peopleImage {
        height: 100px;
        width: 100px;
    }
    .officer, .committee {
        width: 100%;
    }
    .officersContainer, .committeesContainer {
        padding-left: 4vw;
    }
    .officersHeader, .committeesHeader {
        font-size: medium;
    }
    .peopleHeader {
        font-size: large;
    }
}

// Mobile M
@media (min-width: 375px) and (max-width: 425px) {
    .peopleImage {
        height: 100px;
        width: 100px;
    }
    .officer, .committee {
        width: 100%;
    }
    .officersContainer, .committeesContainer {
        padding-left: 4vw;
    }
    .officersHeader, .committeesHeader {
        font-size: medium;
    }
    .peopleHeader {
        font-size: large;
    }
}

// Mobile S
@media (min-width: 320px) and (max-width: 374px) {
    .peopleImage {
        height: 100px;
        width: 100px;
    }
    .officer, .committee {
        width: 100%;
    }
    .officersContainer, .committeesContainer {
        padding-left: 4vw;
    }
    .officersHeader, .committeesHeader {
        font-size: medium;
    }
    .peopleHeader {
        font-size: large;
    }
}