@import '../../App.scss';

.mainContainer {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.membershipContainer {
    padding: 8px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
}

.membershipHeader {
    text-align: center;
    font-size: xx-large;
    color: $globalFontColor;
    text-shadow: $globalTextShadow;
}

.membershipLinksContainer {
    color: $globalFontColor;
    text-shadow: $globalTextShadow;
    text-align: center;
}

.membershipLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    @include globalLinks();
    &:after {
        padding-left: 2px;
        font-family: 'FontAwesome';
        content: ' \f019';
    }
}