@import '../../App.scss';

.importantDocumentsPageContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px;
}

.importantDocsHeader {
    color: $globalFontColor;
    text-shadow: $globalTextShadow;
}

.importantLinksContainer {
    color: $globalFontColor;
    text-shadow: $globalTextShadow;
    text-align: center;
}

.importantLinks {
    @include globalLinks();
    display: flex;
    justify-content: center;
    align-items: center;
    &:after {
        padding-left: 2px;
        font-family: 'FontAwesome';
        content: ' \f019';
    }
}