@import '../../../App.scss';

.aboutUsContainer {
    color: $globalFontColor;
    text-shadow: $globalTextShadow;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.6);
}

.peopleHeader {
    text-align: center;
    padding-bottom: 16px;
}

.peopleContainer {
    display: flex;
}

.officersContainer, .committeesContainer {
    display: flex;
    flex-flow: column;
    width: 50vw;
    padding-left: 12.5vw;
}

.officersInnerContainer, .commiteesInnerContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.officersHeader, .committeesHeader, .peopleHeader {
    text-align: center;
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: xx-large;
}

.officer, .committee {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-weight: normal;
    white-space: pre-line;
    padding: 8px;
    width: 50%;
}

.peopleImage {
    max-width: 300px;
    max-height: 225px;
    aspect-ratio: 4 / 5;
}

// Media queries

// 4k+
@media (min-width: 2560px) {
    .peopleImage {
        height: 200px;
        width: 200px;
    }
    .officersContainer, .committeesContainer {
        padding-left: 4vw;
    }
    .officer, .committee {
        white-space: unset;
    }
}

// Laptop L
@media (min-width: 1440px) and (max-width: 2559px) {

    .officersContainer, .committeesContainer {
        padding-left: 4vw;
    }
    .officer, .committee {
        white-space: unset;
    }
}

// Laptop
@media (min-width: 1024px) and (max-width: 1439px) {
 
    .officersContainer, .committeesContainer {
        padding-left: 4vw;
    }
    .officer, .committee {
        white-space: unset;
    }
}

// Tablet
@media (min-width: 768px) and (max-width: 1023px) {
 
    .officersContainer, .committeesContainer {
        padding-left: 4vw;
    }
    .officer, .committee {
        white-space: unset;
    }
}

// Mobile L
@media (min-width: 425px) and (max-width: 767px) {

    .officer, .committee {
        width: 100%;
    }
    .officersContainer, .committeesContainer {
        padding-left: 4vw;
    }
    .officersHeader, .committeesHeader {
        font-size: medium;
    }
    .peopleHeader {
        font-size: large;
    }
}

// Mobile M
@media (min-width: 375px) and (max-width: 424px) {
 
    .officer, .committee {
        width: 100%;
    }
    .officersContainer, .committeesContainer {
        padding-left: 4vw;
    }
    .officersHeader, .committeesHeader {
        font-size: medium;
    }
    .peopleHeader {
        font-size: large;
    }
}

// Mobile S
@media (min-width: 320px) and (max-width: 374px) {
  
    .officer, .committee {
        width: 100%;
    }
    .officersContainer, .committeesContainer {
        padding-left: 4vw;
    }
    .officersHeader, .committeesHeader {
        font-size: medium;
    }
    .peopleHeader {
        font-size: large;
    }
}