$globalFontColor: #FFFFFF;
$globalTextShadow:
    0.05em 0 black,
    0 0.05em black,
    -0.05em 0 black,
    0 -0.05em black,
    -0.05em -0.05em black,
    -0.05em 0.05em black,
    0.05em -0.05em black,
    0.05em 0.05em black;

@mixin globalLinks() {
    color: $globalFontColor;
    font-size: large;
    text-decoration: none;
    text-shadow: $globalTextShadow;
    &:hover {
        opacity: 0.5;
    }
    &:visited {
        color: $globalFontColor;
    }
}