body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.background-image {
  height: 100vh;
  max-width: calc(100vw - 16px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../src/assets/images/NWACC/background.png');
  opacity: 0.9;
}
