body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.backgroundImage {
  min-height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.homepage {
  background-image: url('../src/assets/images/NWACC/homepage.png');
}

.autocross {
  background-image: url('../src/assets/images/NWACC/autocross.png');
}

.membership {
  background-image: url('../src/assets/images/NWACC/membership.png');
}

.show-n-shine {
  background-image: url('../src/assets/images/NWACC/show-n-shine.png');
}


