@import '../../App.scss';

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.showNShineContainer {
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.6);
}

.showLinksContainer {
    padding-bottom: 8px;
    text-wrap: nowrap;
}

.showHeader {
    color: $globalFontColor;
    text-shadow: $globalTextShadow;
    text-align: center;
}

.showLinks {
    @include globalLinks();
    display: flex;
    justify-content: center;
    align-items: center;
    &:after {
        padding-left: 2px;
        font-family: 'FontAwesome';
        content: ' \f019';
    }
}

// Media queries

// Tablet
@media (min-width: 768px) and (max-width: 1023px) {

}

// Mobile L
@media (min-width: 425px) and (max-width: 767px) {
    h1 {
        font-size: x-large;
    }
}

// Mobile M
@media (min-width: 375px) and (max-width: 424px) {
    h1 {
        font-size: x-large;
    }
}

// Mobile S
@media (min-width: 320px) and (max-width: 374px) {
    h1 {
        font-size: large;
    }
}