@import '../../App.scss';

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.showNShineContainer {
    padding: 8px;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.6);
    color: $globalFontColor;
    text-shadow: $globalTextShadow;
    padding-left: 12vw;
}

.showLinksContainer {
    padding-bottom: 8px;
    text-wrap: nowrap;
}

.showLinks {
    text-wrap: wrap;
    @include globalLinks();
}

// Media queries

// Tablet
@media (min-width: 768px) and (max-width: 1023px) {

}

// Mobile L
@media (min-width: 425px) and (max-width: 767px) {
    h1 {
        font-size: x-large;
    }
}

// Mobile M
@media (min-width: 375px) and (max-width: 424px) {
    h1 {
        font-size: x-large;
    }
}

// Mobile S
@media (min-width: 320px) and (max-width: 374px) {
    h1 {
        font-size: large;
    }
}