// global styles
@import '../../App.scss';

.mainPageNavigationTabsContainer {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
}

.mainPageNavigationTab {
    padding: 8px;
}

.mainPageNavigationLink {
    font-size: large;
    text-decoration: none;
    text-shadow: $globalTextShadow;
    &:hover {
        opacity: 0.5;
    }
    &:visited {
        color: $globalFontColor;
    }
}

.Collapsible {
    font-size: large;
    color: $globalFontColor;
}

.Collapsible__contentInner {
    &:last-child {
        margin-bottom: 0;
    }
}

.Collapsible__trigger {
    display: flex;
    padding-top: 8px;
    padding-left: 8px;
    &:hover {
        opacity: 0.5;
    }
    &:after {
        font-family: 'FontAwesome';
        content: '\f107';
        padding-top: 4px;
        padding-left: 8px;
        display: block;
        transition: transform 300ms;
    }
    &.is-open {
        &:after {
            transform: rotateX(180deg);
        }
    }
}