// global styles
@import '../../../App.scss';

.navigationTabsContainer {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.navigationTab {
    padding: 8px;
}

.navigationLink {
    @include globalLinks();
}

.Collapsible {
    font-size: large;
    color: $globalFontColor;
}

.Collapsible__contentInner {
    &:last-child {
        margin-bottom: 0;
    }
}

.Collapsible__contentOuter {
    width: fit-content;
}

.Collapsible__trigger {
    display: flex;
    padding-top: 8px;
    padding-left: 8px;
    &:hover {
        opacity: 0.5;
    }
    &:after {
        font-family: 'FontAwesome';
        content: '\f107';
        padding-top: 4px;
        padding-left: 8px;
        display: block;
        transition: transform 300ms;
    }
    &.is-open {
        &:after {
            transform: rotateX(180deg);
        }
    }
}

// Media queries

// Tablet
@media (min-width: 375px) and (max-width: 424px) {
    .navigationLink, .Collapsible {
        font-size: 12px;
    }
    .navigationTabsContainer {
        width: fit-content;
        flex-flow: wrap;
    }
}

// Mobile L
@media (min-width: 425px) and (max-width: 767px) {
    .navigationLink, .Collapsible {
        font-size: 18px;
    }
    .navigationTabsContainer {
        width: fit-content;
        flex-flow: wrap;
    }
}

// Mobile M
@media (min-width: 375px) and (max-width: 424px) {
    .navigationLink, .Collapsible {
        font-size: 14px;
    }
    .navigationTabsContainer {
        width: fit-content;
        flex-flow: wrap;
    }
}

// Mobile S
@media (min-width: 320px) and (max-width: 374px) {
    .navigationLink, .Collapsible {
        font-size: 12px;
    }
    .navigationTabsContainer {
        width: fit-content;
        flex-flow: wrap;
    }
}