// global styles
@import '../../../App.scss';

.navigationTabsContainer {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.leftSideContainer {
    display: flex;
}

.rightSideContainer {
    display: flex;
}

.navigationLink {
    padding: 8px;
    @include globalLinks();
    height:fit-content;
}

.dropDownContainer {
    display: flex;
}

.Collapsible {
    font-size: large;
    color: $globalFontColor;
}

.Collapsible__contentInner {
    &:last-child {
        margin-bottom: 0;
    }
}

.Collapsible__contentOuter {
    color: $globalFontColor;
}

.Collapsible__trigger, .mobileMenu, .importantDocuments, .memberClubs {
    display: flex;
    padding-top: 8px;
    padding-left: 8px;
    &:hover {
        opacity: 0.5; 
    }
    &:after {
        font-family: 'FontAwesome';
        content: '\f0c9';
        padding-top: 4px;
        padding-left: 8px;
        display: block;
        font-size: 1em;
    }
}

// Media queries

// 4k+
@media (min-width: 2560px) {
    .navigationLink, .Collapsible {
        font-size: 20px;
    }
}

// Laptop L
@media (min-width: 1440px) and (max-width: 2559px) {
    .navigationTabsContainer {
        &:before {
            display: none;
        }
    }
    .navigationLink, .Collapsible {
        font-size: 16px
    }
}

// Laptop 
@media (min-width: 1024px) and (max-width: 1439px) {
    .navigationTabsContainer {
        &:before {
            display: none;
        }
    }
    .navigationLink, .Collapsible {
        font-size: 14px
    }

}

// Tablet
@media (min-width: 768px) and (max-width: 1023px) {
    .navigationTabsContainer {
        &:before {
            display: none;
        }
    }
    .navigationLink, .Collapsible {
        font-size: 12px;
    }
}

// Shared Mobile
@media (min-width: 320px) and (max-width: 767px) {
    .navigationTabsContainer {
        flex-direction: column;
    }
    .navigationLink, .Collapsible {
        display: block;
        font-size: 16px;
    }
    .leftSideContainer, .rightSideContainer, .dropDownContainer {
        display: block;
    }
}